@use "mixin";

.c-header {
    width: 100%;
    position: relative;
    &__logo {
        width: 100%;
        padding: 0 35.625% 0 24.323%;
        position: absolute;
        top: 16.688%;
        left: 0;
        @include mixin.sp {
            padding: 0 48.373% 0 0;
            top: 30.5%;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &__bg {
        display: block;
        width: 100%;
        height: auto;
    }
}
