.c-header {
    width: 100%;
    position: relative;
    &__logo {
        width: 100%;
        padding: 0 35.625% 0 24.323%;
        position: absolute;
        top: 16.688%;
        left: 0;
        img {
            display: block;
            height: auto;
        }
    }
    &__bg {
        display: block;
        width: 100%;
        height: auto;
    }
}
