@use "mixin";
@use "reset";
@use "header";
@use "mainVisual";
@use "about";
@use "tower";
@use "principles";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Manrope:wght@200..800&display=swap");

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 2.8rem;
    background: #fff9e1;
    position: relative;
}

.p-top {
    position: relative;
    overflow: hidden;
}
